@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300px;
  }

  50% {
    margin-left: 40%;
    width: 135%;
    font-size: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slide-in {
  animation: 1s 5 alternate slidin;
  /*transition: <property> <duration> <timing-function> <delay>;*/

  /*animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count;*/
}

a {
  flex: 1;
  background-color: #333;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none; /*remove underlining*/
  transition: all 0.5s ease-out;
}
