@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond&display=swap');
body {
  background-color:white;
}

.box {
  text-align: left;
  float:left;
}

#denver {
  width: 250px;
}

h1 {
  color: black;
  text-align: left;
  font-family: retiro-std-24pt, sans-serif;
}

img {
  display: block;
  margin-right: auto;
  width: auto;
  float: right;
}

#me {
  width:500px
}

h2 {
  color: #ADD8E6;
  text-align: center;
  font-family: retiro-std-24pt, sans-serif;
}

p {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

h5 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

h4 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

h3 {
  color: red;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

a {
  color:#F08080;
}

a:hover {
  color:red;
}

/* media queries */
/*for mobile*/
@media screen and (min-width: 400px) and (min-height: 700px) {

img {
  display: flex;
  flex-flow: row wrap;
}

}

/*for web*/
@media screen and (min-width: 1900px) and (min-height: 1100px) {

p {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

}
