@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond&display=swap');

* {
 margin: 5px;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: white;
}

.randomize {
  background-color: #D79158;
}

.story {
  background-color: #647880;
  color: white;
  font-size: 125%;
  width: 300px;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1px;
 background-color: white;
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 12px;
}

.menu li {
 padding: 5px 14px;
}

li {
 list-style: none;
}

.wrapper {
  display: flex;
}

.box {
  flex-grow: 1;
  text-align: center;
}

h6 {
  display: inline-block;
  text-align: center;
  font-size: 100%;
  background: #D79158;
  color: white;
  padding: 10px 20px 5px 40px;
  margin: 20px 10px 20px 10px;
}

#home {
 margin: 0 auto;
}

#denver {
  width: 660px;
}

#title {
  color: black;
  text-align: center;
  font-family: retiro-std-24pt, sans-serif;
  font-size: 350%;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
  color: #647880;
  font-size: 200%
}

#sub {
  color: #647880;
  text-align: left;
}

#head {
  display: block;
  margin-right: auto;
  width: auto;
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  border: 1px solid black;
}

#nyc {
  width:500px;
  float: left;
}

#text {
  color: #D79158;
  text-decoration: underline;
}

h2 {
  color: #ADD8E6;
  text-align: center;
  font-family: retiro-std-24pt, sans-serif;
}

p {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 140%;
}

.slides {
  width: 400px;
}

#welcome {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid black;
  background: #ADD8E6;
  color: black;
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}

h5 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 100%;
  width: 500px;
}

h4 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

h3 {
  color: black;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 175%;
}

a {
  color:#647880;
}

#project {
  color:#D79158;
  font-size: 110%;
  text-align: center;
}

a:hover {
  color:#D79158;
}

/* media queries */
/*for mobile*/
@media screen and (max-width: 400px) and (max-height: 700px) {

.box {
  width: 50%;
  flex-direction: vertical;
}

/*img {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}*/

#denver {
  width: 50%;
}

}

/*for web*/
@media screen and (min-width: 1900px) and (min-height: 1100px) {

p {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

}
